/* Technical Proficiency / Skill Bars */
.skill-bar {
    margin-bottom: 20px;
}

.skill-bar label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.bar-container {
    background-color: var(--color-card);
    border-radius: 50px;
    height: 8px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
}

.bar {
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 50px;
    transition: width 1s ease-out;
}

.bar-container span {
    position: absolute;
    right: -30px; /* Di chuyển phần trăm ra xa thanh bar */
    top: -15px;
    font-size: 0.8rem;
    color: var(--color-text-light);
}